button {
  cursor: pointer;
  font-family: inherit;
}

.mediumButtonKind {
  height: 40px;
  font-size: var(--buyButtonFontSize);
}

button:disabled {
  background-color: rgb(240, 240, 240);
}

.sellingPriceButton {
  width: 50px;
  padding: 0px;
  font-size: var(--buyButtonFontSize);
  font-weight: bold;
  height: 26px;
  width: 100%;
  background-color: var(--buttonGreen);
  border-radius: 0 0 var(--bradius1) var(--bradius1);
}

.sellingPriceButton:disabled {
  background-color: lightgray;
}

.maxBuyButton {
  position: relative;
  width: 55px;
  /* background-color: var(--thisOrange); */
  background-color: var(--divGreen);
  font-weight: bold;
  padding: 0px;
}

.buttonCrement {
  width: 25px;
  /* background-color: var(--thisYellow); */
  background-color: var(--divGreen);
  text-align: center;
  padding: 0px;
  font-weight: bold;
}

.decBuyButton {
  border-radius: 0 0 var(--bradius1) 0;
}

.buyButton {
  border-radius: 0 0 0 var(--bradius1);
  position: relative;
  width: 55px;
  padding: 0px;
  font-weight: bold;
  background-color: var(--buttonGreen);
}

.newDayButton {
  font-size: var(--newDayButtonFontSize);
  background-color: white;
  height: 145px;
  width: 145px;
  position: absolute;
  top: 37.5px;
  left: 37.5px;
  border-radius: 100px;
  font-size: var(--tdFontSize1);
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 7.5px;
  z-index: 1;
  border: none;
}

.newDayButton:active {
  border: 2pt solid var(--thisYellow);
}

.dialogBoxButton {
  background-color: var(--dialogBoxButtonBackgColor);
  box-shadow: var(--dialogBoxButtonShadowColor) 0px 0px 50px;
  border-radius: var(--bradius1);
  padding: 0px;
  margin: 0px;
  font-size: var(--dialogBoxButtonFontSize);
  cursor: pointer;
  position: relative;
  left: 70px;
  width: 135px;
  text-align: left;
}
