.mediumButtonKind {
  height: 40px;
}

.button1 {
  width: 25px;
  background-color: red;
}

.button2 {
  width: 40px;
  background-color: rgb(158, 255, 158);
}

.button3 {
  width: 40px;
  background-color: rgb(255, 245, 203);
  font-size: 11px;
  font-weight: bold;
}

.button4 {
  width: 40px;
  background-color: rgb(255, 245, 203);
  text-align: center;
  padding: 0px;
}

button:disabled {
  background-color: lightgrey;
}

.sellingPriceButton {
  height: 31px;
  width: 100%;
  background-color: lightgreen;
  border-radius: 0 0 var(--bradius1) var(--bradius1);
}

.sellingPriceButton:disabled {
  background-color: lightgray;
}

#maxBuyButton {
  border-radius: 0 0 0 var(--bradius1);
  position: relative;
  top: -1px;
}

#incBuyButton {
}

#decBuyButton {
  border-radius: 0 0 var(--bradius1) 0;
}

#buyButton {
  border-radius: var(--bradius1) 0 0 0;
}

.newDayButton {
  background-color: white;
  height: 145px;
  width: 145px;
  position: relative;
  top: 17.5px;
  left: 17.5px;
  border-radius: 100px;
  /* border: none;
  box-shadow: none; */
  font-size: 18px;
}
