.mediumButtonKind {
  height: 40px;
}

.button1 {
  width: 25px;
  background-color: red;
}

.button2 {
  width: 50px;
  background-color: rgb(158, 255, 158);
  padding: 0px;
  font-size: 14px;
  font-weight: bold;
}

.button3 {
  width: 50px;
  background-color: rgb(203, 226, 255);
  font-size: 14px;
  font-weight: bold;
  padding: 0px;
}

.button4 {
  width: 30px;
  background-color: rgb(255, 245, 203);
  text-align: center;
  padding: 0px;
  font-size: 14px;
  font-weight: bold;
}

button:disabled {
  background-color: lightgrey;
}

.sellingPriceButton {
  height: 26px;
  width: 100%;
  background-color: lightgreen;
  border-radius: 0 0 var(--bradius1) var(--bradius1);
}

.sellingPriceButton:disabled {
  background-color: lightgray;
}

.maxBuyButton {
  position: relative;
}

.incBuyButton {
}

.decBuyButton {
  border-radius: 0 0 var(--bradius1) 0;
}

.buyButton {
  border-radius: 0 0 0 var(--bradius1);
  position: relative;
}

.newDayButton {
  background-color: white;
  height: 145px;
  width: 145px;
  position: absolute;
  top: 17.5px;
  left: 17.5px;
  border-radius: 100px;
  font-size: var(--tdFontSize1);
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 7.5px;
  z-index: 1;
}

.dialogBoxButton {
  background-color: rgba(0, 255, 0, 0.1);
  box-shadow: rgba(0, 255, 0, 0.2) 0px 0px 50px;
  border-radius: var(--bradius1);
  padding: 0px;
  margin: 0px;
  font-family: "Merienda", cursive !important;
  font-size: 22.5px;
  cursor: pointer;
  position: relative;
  left: 62.5px;
  width: 135px;
  text-align: left;
}
