.clickable {
  cursor: pointer;
}

.noMarginPadding {
  margin: 0px;
  padding: 0px;
  /* border: yellow dotted 5px; */
}

.invalidInput {
  background-color: red;
}

.highlighted {
  color: blue;
  /* font-weight: bold; */
}

.hidden {
  display: none;
}

.shown {
  /* display: none; */
}
