.homeButtonHolder {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  top: -57.5px;
}

.homeButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;

  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;

  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  width: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 110px;
}

.dialogBoxInnerHome {
  width: 285px;
  position: relative;
  top: -25px;
  left: -17.5px !important;
}

.homeButtonImage {
  margin-left: auto;
  margin-right: auto;
  height: 65px;
  width: 65px;
}

.homeButtonText {
  font-family: var(--niceFontFamily);
  font-size: var(--homeButtonFontSize);
  color: darkgreen;
}

.greyedOut {
  filter: grayscale(100%);
}

.homeButton:disabled {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  filter: grayscale(100%);
}
