.table {
  border-collapse: separate;
  border-spacing: 0px 20px;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 15px; */
  /* border: fuchsia dotted 5pt; */
}

#inventory tr {
  border: blue dotted 1pt;
  /* background-color: lightpink; */
}

.th_inventory {
  /* border: fuchsia dotted 1pt; */
  min-width: 120px;
}

#inventory td {
  padding-top: 2.5px;
  padding-right: 0px;
  padding-bottom: 0px;
  border: black dashed 0.5pt;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 0px;
  width: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.restockPriceTD {
}

.regularTD {
  padding-left: 5px;
}

.buttonTD {
  padding-left: 0px;
}

.invSubtd {
  border: blue dashed 1pt;
  margin: 0px;
  margin-left: 10px;
  height: 60px;
}

.invData {
  margin: 0px;
  padding: 0px;
  background-color: rgba(1, 1, 1, 0.1);
}

.popularityCircleSpan {
  /* display: inline; */
  display: inline-block;
  margin: 0px;
  margin-right: 15px;
  /* position: relative; */
  /* bottom: -4px; */
  background-color: white;
  border-radius: 50px;
  height: 20px;
  width: 20px;
  text-align: center;
}

.restockPriceData {
  /* background-color: magenta; */
  display: inline-block;
  width: 40px;
}

.restockPriceSubtd {
  background-color: lightpink;
  margin-left: 10px;
  height: 60px;
}

.qy {
  font-size: 12px;
  font-weight: bold;
  color: grey;
}

.qyText {
  font-size: 12px;
  font-weight: bold;
  color: lightgray;
}

.sellingPriceInput {
  width: 45px;
  height: 20px;
  font-size: 15px;
  border: red dotted 1pt;
}

.sellingPriceData {
  border: fuchsia solid 1pt;
  min-width: 80px;
  min-height: 20px;
  margin: 0px;
  padding: 0px;
}

.sellingPriceForm {
  /* border: black dotted 1pt; */
  margin: 0px;
  /* margin-top: 15px; */
  width: 80px;
}

.buttonSuperHolder {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

.buttonSubHolder {
  margin-top: -1px;
  min-width: 100%;
}

.amountInput {
  width: 80px;
  height: 40px;
  font-size: 15px;
  text-align: center;
  border-top: lightgray solid 1.5pt;
  border-left: lightgray solid 1.5pt;
  border-right: grey solid 1.5pt;
  border-bottom: grey solid 1.5pt;
  /* position: relative;
  top: 0.5px; */
}
