.smallButtonKind {
  height: 40px;
}

.button1 {
  width: 25px;
  background-color: red;
}

.button2 {
  width: 40px;
  background-color: rgb(158, 255, 158);
}

.button3 {
  width: 40px;
  background-color: rgb(255, 245, 203);
  font-size: 11px;
  font-weight: bold;
}

.button4 {
  width: 40px;
  background-color: rgb(255, 245, 203);
  text-align: center;
  padding: 0px;
  /* position: relative;
  top: 1px; */
}

button:disabled {
  background-color: lightgrey;
}

.amountInput {
  width: 80px;
  height: 40px;
  font-size: 15px;
  text-align: center;
  border-top: lightgray solid 1.5pt;
  border-left: lightgray solid 1.5pt;
  border-right: grey solid 1.5pt;
  border-bottom: grey solid 1.5pt;
  /* position: relative;
  top: 0.5px; */
}

.th_inventory {
  /* border: fuchsia dotted 1pt; */
  min-width: 120px;
}

.invData {
  border: blue dashed 1pt;
  margin: 0px;
  margin-left: 10px;
  height: 60px;
}

.table {
  border-collapse: separate;
  border-spacing: 0px 20px;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 15px; */
  /* border: fuchsia dotted 5pt; */
}

#inventory tr {
  border: blue dotted 1pt;
  /* background-color: lightpink; */
}

.noMarginPadding {
  margin: 0px;
  padding: 0px;
}

#inventory td {
  padding-top: 2.5px;
  padding-right: 0px;
  padding-bottom: 0px;
  border: black dashed 0.5pt;
  margin-top: 50px;
  margin-bottom: 50px;

  height: 0px;
  width: 0px;

  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  padding-top: 0px;
  padding-bottom: 0px;
}

.regularTD {
  padding-left: 5px;
}

.buttonTD {
  padding-left: 0px;
}

.sellingTD {
  padding-left: 0px;
}

.quantityTD {
  /* display: flex;
  flex-direction: row;
  justify-content: space-around; */
}

.qy {
  font-size: 12px;
  font-weight: bold;
  color: grey;
}

.qyText {
  font-size: 12px;
  font-weight: bold;
  color: lightgray;
}

.clickable {
  cursor: pointer;
}

.hidden {
  display: none;
}

.shown {
  /* display: none; */
}

.sellingPriceInput {
  width: 45px;
  height: 20px;
  font-size: 15px;
  border: red dotted 1pt;
}

.sellingPriceSpan {
  border: fuchsia solid 1pt;
  min-width: 80px;
  min-height: 20px;
  margin: 0px;
  padding: 0px;
}

.sellingPriceForm {
  /* border: black dotted 1pt; */
  margin: 0px;
  /* margin-top: 15px; */
  width: 80px;
}

.sellingPriceButton {
  width: 35px;
  height: 20px;
  background-color: lightgreen;
}

.sellingPriceButton:disabled {
  background-color: lightgray;
}

.invalidInput {
  background-color: red;
}

.highlighted {
  color: blue;
  font-weight: bold;
}

.buttonSuperHolder {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

.buttonSubHolder {
  margin-top: -1px;
  min-width: 100%;
}

.popularityCircleSpan {
  display: inline-block;
  margin: 0px;
  margin-right: 10px;
  /* position: relative; */
  /* bottom: -4px; */
  background-color: white;
  border-radius: 50px;
  height: 20px;
  width: 20px;
  text-align: center;
}

.restockPriceTD {
  /* border: red dotted 1pt; */
  /* margin: 0px;
  padding: 0px; */
  /* display: flex;
  flex-direction: row; */
  /* height: fit-content; */
}
