/*********************************/
/************* TABLE *************/
/*********************************/

.invTable {
  position: relative;
}

table#inventory {
  border-collapse: separate;
  border-spacing: 15px 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#inventory th {
  font-size: var(--thFontSize1);
  min-width: 120px;
  max-width: 120px;
  line-height: 21px;
  position: relative;
  right: 0px;
}

.regularTD {
  border-radius: var(--bradius1);
  min-width: var(--cellWidth1);
  max-width: var(--cellWidth1);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  padding-left: 0px;
}

.buttonTD {
  padding-left: 0px;
  padding-left: 0px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: var(--bradius1);
}

.nameTD {
  padding-left: 0px;
  font-weight: bold;
}

/*********************************/
/************ OVERLAY ************/
/*********************************/

.invTableOverlay {
  width: 100%;
  height: 100%;
  background-color: var(--divBeigeTrans);
  z-index: 3;
  position: absolute;
  border-radius: var(--bradius1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}

.invTableOverlayText {
  margin: 0px;
  padding: 0px;
  box-shadow: 0px 0px 50px var(--divBeige);
  background-color: var(--divBeige);
  z-index: 4;
  position: absolute;
  left: 290px;
}

.invTableOverlayOval {
  z-index: 3;
  position: absolute;
  left: 200px;
  /* border: black solid 1px; */
}

.invTableOverlayImage {
  width: 306px;
  height: 230px;
  position: relative;
  z-index: 4;
  left: 330px;
  border-radius: 200px;
}

.invTableOverlayOval2 {
  z-index: 3;
  position: absolute;
  left: 600px;
  /* border: black solid 1px; */
}

.invTableOverlayImageTag {
  margin: 0px;
  padding: 0px;
  position: absolute;
  z-index: 4;
  font-size: 14px;
  top: 285px;
  left: 745px;
  opacity: 0.3;
  color: black;
}

/*********************************/
/************* SUBTD *************/
/*********************************/

.invSubtd {
  margin: 0px;
  margin-left: 0px;
  height: 70px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nameSubtd {
  width: 120px;
  margin-left: 0px;
  position: relative;
}

.quantitySubtd {
}

.restockPriceSubtd {
}

.sellingPriceSubtd {
  margin-left: 0px;
}

/*********************************/
/************ TOOLTIPS ***********/
/*********************************/

.tooltip {
  font-weight: bold;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 3;
  font-size: var(--tooltipFontSize);
  font-family: var(--simpleFontFamily) !important;
}

.popularityCircleTooltip {
  visibility: hidden;
  width: 180px;
  left: 25px;
  top: -15px;
}

.popularityCircleSpanHover:hover .popularityCircleTooltip {
  visibility: visible;
}

.THtooltip {
  visibility: hidden;
  width: 240px;
  left: -50px;
  bottom: 30px;
}

.thHover:hover .THtooltip {
  visibility: visible;
}

.insufficientFundsTooltip {
  visibility: hidden;
  width: 100px;
  left: -100px;
  top: -15px;
}

.buyButtonHover:hover .insufficientFundsTooltip {
  visibility: visible;
}

#tooltipToggle {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 5;
  font-weight: bold;
  color: blue;
  width: 25px;
  height: 25px;
}

.halfOpacity {
  opacity: 0.5;
}

.boxBody {
  position: relative;
}

/*********************************/
/*                               */
/*********************************/

.invData {
  margin: 0px;
  padding: 0px;
  font-size: var(--tdFontSize1);
}

.nameData {
  width: var(--cellWidth1);
}

.popHolder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 2px;
}

.sellingPriceInput {
  font-family: var(--inputFontFamily);
  border-radius: var(--bradius1) var(--bradius1) 0 0;
  resize: none;
  width: 100%;
  height: 52.5px;
  font-size: var(--tdFontSize2);
  text-justify: top;
  overflow: hidden;
  text-align: center;
  padding-top: 28.5px;
}

.sellingPriceData {
  min-width: 80px;
  min-height: 20px;
  margin: 0px;
  padding: 0px;
}

.sellingPriceForm {
  margin: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sellingPriceFormHidden {
  display: none;
}

.buttonSuperHolder {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  border-radius: var(--bradius1);
}

.buttonSubHolder {
  min-width: 100%;
  border-radius: var(--bradius1);
}

.amountInput {
  font-family: var(--inputFontFamily);
  padding-top: 5px;
  border-radius: var(--bradius1) var(--bradius1) 0 0;
  width: var(--cellWidth1);
  height: 40px;
  font-size: var(--tdFontSize2);
  text-align: center;
  border-right: lightgray solid 1.5pt;
  border-bottom: lightgray solid 1.5pt;
  border-top: grey solid 1.5pt;
}

.popFactor1 {
  font-size: var(--tdFontSize2);
  margin-top: 5px;
}

.popFactor2 {
  font-size: var(--tdFontSize3);
}

.popFactorPositive {
  color: black;
}

.popFactorNegative {
  color: firebrick;
}

.hiddenData {
  display: none;
}

.popularityCircleSpan {
  box-shadow: 1px 1px 3px black;
  margin: 0px;
  background-color: white;
  border-radius: 50px;
  height: 32.5px;
  width: 32.5px;
  margin-left: 15px;
  text-align: center;
  font-size: var(--tdFontSize1);
  position: relative;
  top: -3px;
  z-index: 2;
}

.popularityCircleText {
  margin: 0;
  padding: 0;
  z-index: 3;
  position: relative;
  top: 1.5px;
  left: 0.5px;
  font-size: 24px;
}
