.mainDivStats {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.topHalf {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mainStatBox {
  /* border: yellow dotted 0.5pt; */
  width: 20%;
}

.mainStatTitle {
  /* color: red; */
}

.mainStatText {
}
