.mainSubDivStats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
  border: none;
  height: 150px;
}

#moneyStat.mainStatText {
  left: 11px;
}

#moneyStatSubtitle.mainStatText {
  left: 11px;
}

.mainStatTextFaded {
  color: #000000;
  opacity: 0.2;
}

.mainStatTextNumber {
  font-size: var(--mainStatFontSize1);
}

.mainStatTextNumberDays {
  width: 50px;
}

.islandHolder {
  height: 50px;
  position: relative;
  top: 125px;
  width: 102.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.islandHolder1 {
  left: -546px;
}

.islandHolder2 {
  left: -326px;
}

.island {
  margin-top: 6px;
  margin-bottom: 6px;
  width: 42px;
  height: 45px;
}

.islandFaded {
  opacity: 0.25;
  filter: grayscale(50%);
}

.bottomHalf {
  width: var(--bigBoxWidth);
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  top: 55px;
}

.topHalf {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: var(--bigBoxWidth);
}

.mainStatBox {
  width: 200px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -48px;
}

.coin {
  height: 220px;
  width: 220px;
  position: absolute;
  z-index: 1;
}

.mainStatText {
  position: relative;
  top: 81px;
  z-index: 2;
  left: 10px;
}

.daysYearsHolder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  left: 2px;
}

.daysYearsSubholder {
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
}
