#trendsChartContainer {
  pointer-events: none !important;
  position: relative;
}

.ersatzChart {
  width: 480px;
  height: 240px;
  z-index: 5;
  position: absolute;
  left: 20px;
  top: 10px;
}

.ersatzChartUnderlay {
  width: 430px;
  height: 200px;
  position: absolute;
  left: 60px;
  top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ersatzBarHolder {
  width: 82.5px;
  height: 167px;
  border: black solid 1px;
  position: relative;
  top: 17px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.ersatzBar {
  background-color: var(--thisOrange);
  height: 99%;
}

.trendsChartTooltipHolder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 4;
  position: absolute;
  width: fit-content;
  margin-left: 60px;
  bottom: 0px;
  font-size: 16px;
  height: 200px;
}

.trendsChartTooltipSymbol {
  width: 87.5px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.trendsTooltip {
  visibility: hidden;
  width: 370px;
  top: 200px;
}

.trendsChartTooltipSymbolHover:hover .trendsTooltip {
  visibility: visible;
}
