:root {
  --bradius1: 15px;
  --bigBoxWidth: 1100px;
  --cellWidth1: 160px;
  --tdFontSize1: 20px;
}

body {
  background-color: lightyellow;
  font-family: Arial, Helvetica, sans-serif;
}

.mainHeader {
  font-size: 22px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.contentWrapper {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wrapper {
  background-color: rgba(0, 255, 0, 0.1);
  height: 95vh;
}

.mainDiv {
  border-radius: var(--bradius1);
  border: black dashed 2pt;
  margin: 20px 0px 20px 0px;
  width: var(--bigBoxWidth);
}

.holderForHorizontalMainDivs {
  /* border: blue solid 1pt; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mainDivBulletin {
  width: 400px;
}

.mainDivGraphs {
  width: 400px;
}
