:root {
  --bradius1: 15px;
  --bigBoxWidth: 1100px;
  --cellWidth1: 160px;
  --tdFontSize1: 20px;
  --thisYellow: #fffe66;
  --thisOrange: #f9bd07;
  --buttonGreen: lightgreen;
  --paleGreen: rgb(212, 255, 187);
  --divGreen: rgb(235, 255, 224);
}

body {
  background-color: var(--paleGreen);
  font-family: Arial, Helvetica, sans-serif;
}

.background {
  background-image: url(../images/fruit-tile1.jpg);
  background-size: 500px;
  background-repeat: repeat;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.05;
}

.mainHeader {
  font-size: 22px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.contentWrapper {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mainDiv {
  border-radius: var(--bradius1);
  /* border: black dashed 2pt; */
  box-shadow: 2.5px 2.5px 10px black;
  margin: 20px 0px 20px 0px;
  width: var(--bigBoxWidth);
  background-color: var(--divGreen);
}

.mainDivStats {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
}

.holderForHorizontalMainDivs {
  /* border: blue solid 1pt; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mainDivGraphs {
  margin-top: 50px;
  width: 460px;
}

#chartContainer {
  background-color: none;
  /* margin-bottom: 50px; */
  position: relative;
  top: -20px;
  margin-top: none;
}
