:root {
  --navbarFontSize: 28px;
  --newDayButtonFontSize: 28px;

  --tdFontSize1: 24px;
  --mainStatFontSize1: 24px;

  --dialogBoxButtonFontSize: 22.5px;

  --tdFontSize2: 21px;

  --dialogBoxFontSize1: 20px;
  --createFruitLabelFontSize: 20px;

  --dialogBoxFontSize2: 19px;
  --thFontSize1: 19px;

  --bodyFontSize: 18px;
  --tooltipFontSize: 18px;

  --tdFontSize3: 17px;

  --homeButtonFontSize: 16px;
  --factorSelectFontSize: 16px;
  --createFruitInputNameFontSize: 16px;
  --buyButtonFontSize: 16px;

  --inputFontFamily: "Lucida Console", Monaco, monospace;
  --simpleFontFamily: Arial, sans-serif;
  --niceFontFamily: "Averia Libre", cursive, Arial;

  --thisYellow: #fffe66;
  --thisOrange2: #f9bd07;
  --thisOrange: #ffc400;
  --buttonGreen: lightgreen;
  --paleGreen: rgb(212, 255, 187);
  --divGreen: rgb(235, 255, 224);
  --divGreenTrans: rgb(235, 255, 224, 0.6);
  --divBeige: rgb(245, 244, 225);
  --divBeigeTrans: rgb(245, 244, 225, 0.8);
  --glowColor1: var(--thisOrange);
  --dialogBoxButtonBackgColor: rgba(0, 255, 0, 0.1);
  --dialogBoxButtonShadowColor: rgba(0, 255, 0, 0.2);

  --bradius1: 15px;
  --bigBoxWidth: 1100px;
  --cellWidth1: 160px;
  --facDimW: 105px;
  --facDimH: 30px;
  --facDimMBmajor: 4px;
  --facDimMBminor: 2px;

  --aboutCoinDimensions: 250px;
}

body {
  background-color: var(--paleGreen);
  font-family: var(--niceFontFamily) !important;
  font-size: var(--bodyFontSize);
}

.background {
  background-image: url(../images/fruit-tile1.jpg);
  background-size: 500px;
  background-repeat: repeat;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.05;
}

button,
input,
textarea {
  outline: none;
}

.contentWrapper {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mainDiv {
  border-radius: var(--bradius1);
  box-shadow: 2.5px 2.5px 10px black;
  margin: 20px 0px 20px 0px;
  width: var(--bigBoxWidth);
  background-color: var(--divGreen);
}

.mainDivStats {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
}

.holderForHorizontalMainDivs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 75px;
  margin-bottom: 50px;
}

#mainDivCharts1 {
  margin-top: 50px;
  width: 525px;
  height: 265px;
  position: relative;
}

#mainDivCharts2 {
  margin-top: 50px;
  width: 520px;
  height: 265px;
}

.chartContainer {
  background-color: none;
  position: relative;
  top: 4px;
  margin-top: none;
}
