.navbar {
  /* border: black solid 1pt; */
  /* position: fixed; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  z-index: 5;
  text-decoration: none;
}

.navbarSubholder {
  /* background-color: white; */
  width: fit-content;
  border-radius: 0px 0px var(--bradius1) var(--bradius1);
  display: flex;
  flex-direction: row;
  justify-content: center;

  position: relative;
  top: -15px;
  padding-top: 12.5px;
  height: 60px;

  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.navbarLinkSubholder {
  /* border: blue solid 1pt; */
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 20px;
}

.navbarImage {
  height: 50px;
  width: 50px;
}

.navbarText {
  font-size: 28px;
  color: darkgreen;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
  text-decoration: none;
  margin-left: 2.5px;
}
