.button1 {
  width: 25px;
  height: 25px;
  background-color: rgb(233, 243, 233);
}

.clickable {
  cursor: pointer;
}

.hidden {
  display: none;
}

.shown {
  /* display: none; */
}

.sellingPriceInput {
  width: 40px;
  height: 30px;
  font-size: 15px;
}

.sellingPriceForm {
  border: black dotted 1pt;
  margin: 0px;
  /* margin-top: 15px; */
  width: 80px;
}

.sellingPriceButton {
  width: 40px;
  height: 30px;
  background-color: lightgreen;
}

.sellingPriceButton:disabled {
  background-color: lightgray;
}

.invalidInput {
  background-color: red;
}

.highlighted {
  color: blue;
  font-weight: bold;
}

.buttonSuperHolder {
  border: blue dotted 1pt;
  display: flex;
  flex-direction: column;
}

.restockButtonHolder {
  border: yellow dotted 1pt;
}

.button2 {
  width: 75px;
  height: 25px;
  background-color: rgb(158, 255, 158);
}

.restockAmountInput {
  width: 40px;
  height: 25px;
  font-size: 15px;
  text-align: center;
}
