.button1 {
  width: 25px;
  height: 25px;
  background-color: rgb(233, 243, 233);
}

.clickable {
  cursor: pointer;
}

.hidden {
  display: none;
}

.shown {
  /* display: none; */
}

.sellingPriceInput {
  width: 40px;
  height: 30px;
  font-size: 15px;
}

.sellingPriceForm {
  border: black dotted 1pt;
  margin: 0px;
  /* margin-top: 15px; */
  width: 80px;
}

.sellingPriceButton {
  width: 40px;
  height: 30px;
  background-color: lightgreen;
}

.sellingPriceButton:disabled {
  background-color: lightgray;
}

.invalidInput {
  background-color: red;
}
