.dialogBox {
  user-select: none;
  z-index: 4;
  text-align: center;
  height: 290px;
  width: 275px;
  max-width: 300px;
  left: 50%;
  margin-left: -132.5px;
  top: 180px;
  position: fixed;
  border-radius: var(--bradius1);
}

.dialogBoxInner {
  line-height: 30px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  height: 250px;
  display: flex;
  position: relative;
  left: -2.5px;
}

.dialogBoxInnerInner {
  margin: auto;
}

.scroll {
  text-align: center;
  height: 485px;
  width: 590px;
  left: 50%;
  margin-left: -292px;
  top: 85px;
  position: fixed;
  z-index: 3;
}

.dialogBoxText {
  font-size: var(--dialogBoxFontSize1);
}

.dialogBoxTextSmall {
  font-size: var(--dialogBoxFontSize2);
  line-height: 20px;
  margin: 0px;
  padding: 0px;
  margin-bottom: 14px;
}
